body {
    color:              black;
    font-weight:        bold;
    overflow-x:         hidden;
    font-family:        Calibri;
    background-color:   #FFB310;
    width:              1200px;
    z-index:            0;
    
}

h1 {
    color:      red; /*Test stylesheet link*/
    display:    none;
}

#header {
    color:              black;
    background-color:   #990033;
    position:           relative;
    top:                0;
    left:               0;
    height:             100px;
    width:              100%;
    z-index:            2;
}

#navbar {
    top:                0;
    left:               0;
    height:             90px;
    width:              100%;
    position:           fixed;
    display:            block;
    color:              rgb(240, 240, 240);
    background-image:   -webkit-linear-gradient(right, #990033, #990033);
    background-image:   -moz-linear-gradient(right, #990033, #990033);
    background-image:   -ms-linear-gradient(right, #990033, #990033);
    background-image:   -o-linear-gradient(right, #990033, #990033);
    background-image:   linear-gradient(to right, #990033, #990033);
    z-index:            6;
    padding:            0;
    border:             none; 
}

#navbarContents {
}

#navbarContents ul {
    font-size:          0px;
    list-style-type:    none;
    padding:            0;
    margin-top:         10px;
}

#navbarContents li {
    display:        inline-block;
    padding:        0;
    padding-right:  0;
    margin:         0;
    bottom:         0;
}


.navbarli {
    display:            table-cell;
    vertical-align:     middle;
    width:              120px;
    height:             50px;
    top:                10px;
    color:              black;
    text-align:         center;
    text-decoration:    none;
    background-image:   -webkit-linear-gradient(top, #FFB310, #990033);
    background-image:   -moz-linear-gradient(top, #FFB310, #990033);
    background-image:   -ms-linear-gradient(top, #FFB310, #990033);
    background-image:   -o-linear-gradient(top, #FFB310, #990033);
    background-image:   linear-gradient(to top, #FFB310, #990033);
    font-family:            Arial;
    font-size:              18px;
    padding:                14px 18px 10px 28px;
    text-decoration:        none;
    border:                 none;
}

.navbarli:hover {
        background-image:   -webkit-linear-gradient(top, #FFB310, #FFB310);
        background-image:   -moz-linear-gradient(top, #FFB310, #FFB310);
        background-image:   -ms-linear-gradient(top, #FFB310, #FFB310);
        background-image:   -o-linear-gradient(top, #FFB310, #FFB310);
        background-image:   linear-gradient(to bottom, #FFB310, #FFB310);
        text-decoration:    none;
}

.rightalign {
    float:          right;
}

#tblSearch {
    padding-top:    1em;
    margin-top:     10px;
    margin-left:    auto;
    margin-right:   auto;
    text-align:     left;
    border:         black 1px solid;
}

.date {
    display:                block;
    width:                  96%;
    height:                 24px;
    padding:                0;
    overflow:               hidden;
    cursor:                 pointer;
    border:                 1px solid #aaa;
    text-align:             left;
    padding-left:           4px;
    white-space:            nowrap;
    line-height:            26px;
    color:                  #444;
    text-decoration:        none;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    border-radius:          4px;
    background-color:       #fff;
}

.searchli {
    width:              300px;
    height:             80px;
    top:                30px;
    display:            inline-block;
    vertical-align:     middle;
    margin-right:       auto;
    margin-left:        auto;
    text-align:         center;
    text-decoration:    none;
    border:             none;
}

#searchlink {
    width:              300px;
}

#searchlink:hover {
    background-color:   #C0C0C0;
}

#sidebar {
    background-image:   -webkit-linear-gradient(top, #FFB310, #990033);
    background-image:   -moz-linear-gradient(top, #FFB310, #990033);
    background-image:   -ms-linear-gradient(top, #FFB310, #990033);
    background-image:   -o-linear-gradient(top, #FFB310, #990033);
    background-image:   linear-gradient(to bottom, #FFB310, #990033);
    position:           fixed;
    width:              300px;
    height:             100%;
    top:                0;
    left:               -300px;
    margin-top:         0;
    text-align:         center;
    z-index:            5;
    padding-top:        100px;
    display:            block;
}

#ulCheckboxes{
    list-style-type: none;
}

#ulCheckboxes li{
    text-decoration: none;
}

#main {
    display:            inline-block;
    position:           absolute;
    left:               0;
    top:                0;
    height:             calc(100% - 70px);
    float:              left;
    z-index:            1;
    background-image:   -webkit-linear-gradient(top, #990033, #FFB310);
    background-image:   -moz-linear-gradient(top, #990033, #FFB310);
    background-image:   -ms-linear-gradient(top, #990033, #FFB310);
    background-image:   -o-linear-gradient(top, #990033, #FFB310);
    background-image:   linear-gradient(to bottom, #990033, #FFB310);
    width:              100%;
}

.titleCss {
    color:          white;
    font-size:      16px;
    padding-top:    150px;
    margin-bottom:  15px;
}

#recentRecords {
    /*color:white;*/
}

#divContent {
    width:          87%;
    max-width:      850px;
    margin-left:    310px;
    margin-right:   auto;
    margin-top:     115px;
    padding-top:    1em;
    
    
}

.btnClass {
    width:              100px;
    background-color:   #FFB310;
    color:              black;
}

.btnClass:hover {
    background-color:   #FFCB66;
    cursor:             pointer;
}

.divRepeater {
    margin-bottom:      20px;
}

.tblRepeater {
    border-collapse:    collapse;
    width: 910px;
    padding: 5px;
    /*color: white;*/
}

.tblRepeater:not(first) {
    margin-top:         20px;
}

.trRepeater {
    background:             -webkit-linear-gradient(right, #990033 40%, #FFB310 80%);
    background-attachment:  fixed;
}

.trHdr {
    width:          150px;
    text-align:     left;
    font-weight:    bold;
}

.trVal {
    width:          300px;
    text-align:     left;
}

.tblRepeater:hover {
    cursor:         pointer;
}

/* Start CSS for pdf of report */

.full-width {
    width:          100%;
}

.recordDetails {
    /*color:black;*/ 
    background-color:   white; 
    height:             1200px; 
    width:              900px; 
    display:            none;
    padding:            5px;
}

.recordDetails h1 {
    font-size:          18px;
    color:              black;
    text-align:         center;
}

.victimInfo {
}

.reportInfo {
}

.hdr {
    font-weight:    bold;
    margin-bottom:  0;
}

.val {
    padding-left:   15px;
    margin-top:     0;
}

.reportInfo trVal {
    width:          400px;
}

.treatmentInfo {
}

.treatmentContent {
    width:          450px;
    display:        inline-block;
    float:          left;
}

.description {
}

/* End CSS for pdf of report */

.btnPdf {
    margin-left:    auto;
    margin-right:   auto;
}

.text-center {
    text-align:     center;
}

.text-left {
    text-align:     left;
}

.full-height {
    height:         80%;
}

.bold {
    font-weight:    bold;
}

.riskMgmt {
    display:            none;
    position:           fixed;
    background-color:   black;
    opacity:            .8;
}

riskMgmtContent {
    position:           fixed;
    margin-left:        auto;
    margin-right:       auto;
    top:                200px;
    width:              300px;
    border:             black thin solid;
    background-color:   white;
    color:              black;
}
