body {
    color: #000
}

h2 {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#divHomeContent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.tblRecent {
    border-collapse:collapse;
}

.trRepeater {
    background: -webkit-linear-gradient(right, #990033 40%, #FFB310 80%);
    background-attachment: fixed;
}

.trRepeaterSpace {
    height: 20px;
}

.trHdr {
    width: 150px;
    text-align: right;
}

.trVal {
    width: 300px;
    text-align: left;
}

.tblRecent:hover {
    cursor: pointer;
}

.details {
    color:black; 
    background-color:white; 
    height: 800px; 
    width: 400px; 
}