body {
    color: black;
    overflow-x: hidden;
    font-family: Calibri;
    background-color: #990033;
}

h1 {
    color:      red; /*Test stylesheet link*/
    display:    none;
}

#header {
    color: black;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
}

#navbar {
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    color: rgb(240, 240, 240);
    background-color: #FFB310;
    z-index:3;
    padding: 0;
}

#navbarContents {
}

#navbarContents ul {
    font-size: 0px;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#navbarContents li {
    display: inline-block;
    padding: 0;
    margin: 0;
    bottom:0;
}


.navbarli {
    display: table-cell;
    vertical-align: middle;
    width: 170px;
    height: 60px;
    top: 10px;
    color: black;
    font-size: 16px;
    text-align:center;
    text-decoration: none;
    background-color: #FFB310;
    border:none;
}

.navbarli:hover {
    background-color: #FFCB66;
}

.rightalign {
    float:right;
}

#tblSearch {
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    border: black 1px solid;
}

.date {
    display: block;
    width: 96%;
    height: 24px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    text-align: left;
    padding-left: 4px;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.searchli {
    width: 300px;
    height: 80px;
    top: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right:auto;
    margin-left: auto;
    text-align:center;
    text-decoration: none;
    border:none;
}

#searchlink {
    width: 300px;
}

#searchlink:hover {
    background-color:#FFCB66;
}

#sidebar {
    background-color: #FFB310;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 70px;
    left: -300px;
    text-align: center;
    z-index: 5;
    display: block;
}

#ulCheckboxes{
    list-style-type: none;
}

#ulCheckboxes li{
    text-decoration: none;
}

#main {
    display: inline-block;
    position:absolute;
    left: 0px;
    top:70px;
    height: calc(100% - 70px);
    float: left;
    z-index:1;
    background-color: #990033;
    width:100%;
}

.titleCss {
    color: white;
    font-size: 16px;
    padding-top: 150px;
    margin-bottom: 15px;
}

#recentRecords {
    /*color:white;*/
}

#divContent {
    width: 87%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.btnClass {
    width: 100px;
    background-color: #FFB310;
    color: black;
}

.btnClass:hover {
    background-color: #FFCB66;
    cursor: pointer;
}



.divRepeater {
    margin-bottom: 20px;
}

.tblRepeater {
    border-collapse: collapse;
    /*color: white;*/
}

.tblRepeater:not(first) {
    margin-top: 20px;
}

.trRepeater {
    background: -webkit-linear-gradient(right, #990033 40%, #FFB310 80%);
    background-attachment: fixed;
}

.trHdr {
    width: 150px;
    text-align: left;
    font-weight: bold;
}

.trVal {
    width: 300px;
    text-align: left;
}

.tblRepeater:hover {
    cursor: pointer;
}

/* Start CSS for pdf of report */

.recordDetails {
    /*color:black;*/ 
    background-color:white; 
    height: 900px; 
    width: 910px; 
    display: none;
    padding: 5px;
}

.recordDetails h1 {
    font-size: 18px;
    color: black;
    text-align: center;
}

.victimInfo {
}

.reportInfo {
}

.hdr {
    font-weight: bold;
    margin-bottom: 0;
}

.val {
    padding-left: 15px;
    margin-top: 0;
}

.reportInfo trVal {
    width: 400px;
}

.treatmentInfo {
}

.treatmentContent {
    width: 450px;
    display: inline-block;
    float: left;
}

.description {
}

/* End CSS for pdf of report */

.btnPdf {
    margin-left: auto;
    margin-right: auto;
}